{% extends "layout.twig" %}
{% block title %}{{ message }} - {{ global.app.name }}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <center><h1>{{ code }}</h1></center>
    <p><strong>{{ message }}</strong></p>
    <hr>
    <p>An error occurred with your form submission. Please start again!</p>
    <p>
        <a href="{{ path_for('/') }}">Back to home</a>
    </p>
{% endblock %}