{% extends "layout.twig" %}
{% block title %}{{ message }} - {{ global.app.name }}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <center><h1>{{ code }}</h1></center>
    <p><strong>{{ message }}</strong></p>
    <hr>
    <p><a href="{{ path_for('/') }}">Back to home</a></p>
{% endblock %}