{% extends "layout.twig" %}
{% block title %}{{welcome}} - {{ global.app.name }}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <center><h1>{{ global.app.name }}</h1></center>
    <p><strong>{{ welcome }}</strong></p>
    <hr>
    <p>{{message}}</p>
{% endblock %}